Node-Red_Education_Lesson_8_Flow_B_Code
[
    {
        "id": "599c117e23299aa5",
        "type": "function",
        "z": "692b673989faf67c",
        "name": "Set INSERT SQL for Cust. Order Address",
        "func": "// Bring in the payload and place into variables for this process\n\nlet order  =  msg.payload.FODORNO\nlet cuname =  msg.payload.FODCUNM\nlet addr1 = msg.payload.FODCUA1\nlet addr2 = msg.payload.FODCUA2\nlet addr3 = msg.payload.FODCUA3\nlet addr4 = msg.payload.FODCUA4\nlet pono = msg.payload.FODPONO\nlet phone = msg.payload.FODPHNO\n\nconsole.log(\"order\", order)\nconsole.log(\"CUST\", cuname)\n\n// Build the SQL statement, only SET the column if the value from the Forms Node is NOT null/blank\n\nlet payloadout = `insert into iugred.cusordadd (ODORNO, ODCUNM, ODCUA1, ODCUA2,  ODCUA3, ODCUA4, ODPONO, ODPHNO) \nVALUES ('${order}', '${cuname}', '${addr1}', '${addr2}', '${addr3}', '${addr4}', '${pono}', '${phone}' )`\n\n//  Store the SQL statement in the msg.payload   , when '${addr1}' > ' ' then set ODADR1 = '${addr1}';\n\nmsg.payload = payloadout\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 3000,
        "wires": [
            [
                "47c79789c8421408",
                "52bb68d5e53532c1"
            ]
        ]
    },
    {
        "id": "47c79789c8421408",
        "type": "DB2 for i",
        "z": "692b673989faf67c",
        "mydb": "c783136d02b66193",
        "name": "",
        "arraymode": true,
        "x": 880,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "52bb68d5e53532c1",
        "type": "debug",
        "z": "692b673989faf67c",
        "name": "debug 209",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 3060,
        "wires": []
    },
    {
        "id": "a4a092ed08e275b0",
        "type": "ui_form",
        "z": "692b673989faf67c",
        "name": "",
        "label": "",
        "group": "25a1df44e33ab0fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Sales Order Number",
                "value": "FODORNO",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": " Customer Name",
                "value": "FODCUNM",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Order Address",
                "value": "FODCUA1",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Order Address",
                "value": "FODCUA2",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Order Address",
                "value": "FODCUA3",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Country",
                "value": "FODCUA4",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Post Code",
                "value": "FODPONO",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Phone ",
                "value": "FODPHNO",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "FODORNO": "",
            "FODCUNM": "",
            "FODCUA1": "",
            "FODCUA2": "",
            "FODCUA3": "",
            "FODCUA4": "",
            "FODPONO": "",
            "FODPHNO": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 3000,
        "wires": [
            [
                "599c117e23299aa5"
            ]
        ]
    },
    {
        "id": "8b043d9c2b8b1e36",
        "type": "catch",
        "z": "692b673989faf67c",
        "name": "Catch Duplicates",
        "scope": [
            "47c79789c8421408"
        ],
        "uncaught": false,
        "x": 500,
        "y": 3100,
        "wires": [
            [
                "b1034fcbb4905959"
            ]
        ]
    },
    {
        "id": "b1034fcbb4905959",
        "type": "ui_toast",
        "z": "692b673989faf67c",
        "position": "dialog",
        "displayTime": "20",
        "highlight": "RED",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Advise if Duplicates",
        "x": 790,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "c783136d02b66193",
        "type": "DB2 for i Config",
        "cnnname": "MikeR",
        "db": "*LOCAL",
        "keepalive": true
    },
    {
        "id": "25a1df44e33ab0fa",
        "type": "ui_group",
        "name": "Add a Row",
        "tab": "c825ca5ed8e8f9a6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c825ca5ed8e8f9a6",
        "type": "ui_tab",
        "name": "INSERT DB",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
