Node-Red_Education_Lesson_9_Flow_B_Code
[
    {
        "id": "4ee389fd8943a9e2",
        "type": "mqtt in",
        "z": "eb0be36322ed10f6",
        "name": "",
        "topic": "testtopic/1",
        "qos": "0",
        "datatype": "json",
        "broker": "4d0adc15ffb8189f",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "10791032a2598527"
            ]
        ]
    },
    {
        "id": "588f52877da198c4",
        "type": "function",
        "z": "eb0be36322ed10f6",
        "name": "Extract Payload T",
        "func": "let payload = msg.payload\nlet tempc =payload.data.temperature_c;\n//Console=('temperature', tempc)\n\nmsg.payload = tempc\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 620,
        "wires": [
            [
                "7b04a0757115993f"
            ]
        ]
    },
    {
        "id": "c7e763856b89ad76",
        "type": "function",
        "z": "eb0be36322ed10f6",
        "name": "Extract Payload H",
        "func": "let payload = msg.payload\nlet tempc =payload.data.humidity;\n//Console=('temperature', tempc)\n\nmsg.payload = tempc\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 560,
        "wires": [
            [
                "8fa8fa919a74226d"
            ]
        ]
    },
    {
        "id": "0d74a25987503b05",
        "type": "inject",
        "z": "eb0be36322ed10f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "10791032a2598527"
            ]
        ]
    },
    {
        "id": "6b9f3ea7ba1e8ccf",
        "type": "comment",
        "z": "eb0be36322ed10f6",
        "name": "Record Temp and Humidity on Gauge.  Warn if too high, reassure when temp drops",
        "info": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "8fa8fa919a74226d",
        "type": "ui_gauge",
        "z": "eb0be36322ed10f6",
        "name": "",
        "group": "cb2867459c8e3cc6",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 560,
        "wires": []
    },
    {
        "id": "7b04a0757115993f",
        "type": "ui_gauge",
        "z": "eb0be36322ed10f6",
        "name": "Temp 4",
        "group": "cb2867459c8e3cc6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "•C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 620,
        "wires": []
    },
    {
        "id": "10791032a2598527",
        "type": "gate",
        "z": "eb0be36322ed10f6",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "588f52877da198c4",
                "c7e763856b89ad76"
            ]
        ]
    },
    {
        "id": "4d0adc15ffb8189f",
        "type": "mqtt-broker",
        "name": "One1",
        "broker": "yb66f911.ala.us-east-1.emqxsl.com",
        "port": "8883",
        "tls": "4cd0668997bae2e1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "hellllo",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb2867459c8e3cc6",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "9ee35c5250ed1cc9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cd0668997bae2e1",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "yb66f911.ala.us-east-1.emqxsl.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9ee35c5250ed1cc9",
        "type": "ui_tab",
        "name": "Sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
