Node-Red_Education_Lesson_3_Flow_Code
[
    {
        "id": "96bd386329c00330",
        "type": "gate",
        "z": "58d46b689e728ecd",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 2040,
        "wires": [
            [
                "b0e2653bf86b69b9"
            ]
        ]
    },
    {
        "id": "15211a0e79c27786",
        "type": "inject",
        "z": "58d46b689e728ecd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2100,
        "wires": [
            [
                "e4760c967c292128"
            ]
        ]
    },
    {
        "id": "ef320ea51cdf31b4",
        "type": "gate",
        "z": "58d46b689e728ecd",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 2100,
        "wires": [
            [
                "b0e2653bf86b69b9"
            ]
        ]
    },
    {
        "id": "7af6c4751f95de5d",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "red",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 0 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1980,
        "wires": [
            [
                "fb41f66536d61567"
            ]
        ]
    },
    {
        "id": "f3fa32cba54c1f7a",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "yellow",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 50 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2020,
        "wires": [
            [
                "016037ac200aa421"
            ]
        ]
    },
    {
        "id": "2e90b7d435abc9cd",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "green",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 100 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2060,
        "wires": [
            [
                "e9cecf65a68a03a7"
            ]
        ]
    },
    {
        "id": "8c70e9255dbaaa14",
        "type": "gate",
        "z": "58d46b689e728ecd",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 2160,
        "wires": [
            [
                "b0e2653bf86b69b9"
            ]
        ]
    },
    {
        "id": "4988c48af292c90f",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "function 35",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif ((payload > 300 && payload < 359)) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\n//msg.field = field\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2160,
        "wires": [
            [
                "96bd386329c00330"
            ]
        ]
    },
    {
        "id": "7798a09b0634d60e",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "function 36",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif ((payload >200 && payload < 299)) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\n//msg.field = field\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2200,
        "wires": [
            [
                "ef320ea51cdf31b4"
            ]
        ]
    },
    {
        "id": "3f777147126c757c",
        "type": "random",
        "z": "58d46b689e728ecd",
        "name": "",
        "low": 1,
        "high": "359",
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 2280,
        "wires": [
            [
                "7798a09b0634d60e",
                "4a995ec425b27456",
                "9a8c287614adef3d",
                "4988c48af292c90f"
            ]
        ]
    },
    {
        "id": "9a8c287614adef3d",
        "type": "function",
        "z": "58d46b689e728ecd",
        "name": "function 37",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif (payload >0 && payload < 199) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\n//msg.field = field\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2240,
        "wires": [
            [
                "8c70e9255dbaaa14"
            ]
        ]
    },
    {
        "id": "4a995ec425b27456",
        "type": "debug",
        "z": "58d46b689e728ecd",
        "name": "debug 139",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 2280,
        "wires": []
    },
    {
        "id": "fb41f66536d61567",
        "type": "delay",
        "z": "58d46b689e728ecd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 1980,
        "wires": [
            [
                "96bd386329c00330"
            ]
        ]
    },
    {
        "id": "016037ac200aa421",
        "type": "delay",
        "z": "58d46b689e728ecd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 2020,
        "wires": [
            [
                "ef320ea51cdf31b4"
            ]
        ]
    },
    {
        "id": "e9cecf65a68a03a7",
        "type": "delay",
        "z": "58d46b689e728ecd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 2060,
        "wires": [
            [
                "8c70e9255dbaaa14"
            ]
        ]
    },
    {
        "id": "5220f09e9c590ef2",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "Colour selections",
        "info": "",
        "x": 580,
        "y": 1940,
        "wires": []
    },
    {
        "id": "13ce81d5bb7721fe",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "3 way gate",
        "info": "",
        "x": 1060,
        "y": 2000,
        "wires": []
    },
    {
        "id": "ea8b1f40564b06d9",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "Random number into groups",
        "info": "",
        "x": 800,
        "y": 2120,
        "wires": []
    },
    {
        "id": "d48c25ab8e43ab26",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "Insert point of data here",
        "info": "",
        "x": 520,
        "y": 2240,
        "wires": []
    },
    {
        "id": "1383e5ff786249a2",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "Delay ensures signal arrives after gate selection",
        "info": "",
        "x": 880,
        "y": 1940,
        "wires": []
    },
    {
        "id": "e4760c967c292128",
        "type": "gate",
        "z": "58d46b689e728ecd",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 330,
        "y": 2100,
        "wires": [
            [
                "3f777147126c757c",
                "2e90b7d435abc9cd",
                "f3fa32cba54c1f7a",
                "7af6c4751f95de5d"
            ]
        ]
    },
    {
        "id": "e62fcb48755af95e",
        "type": "inject",
        "z": "58d46b689e728ecd",
        "name": "Toggle the Gate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 180,
        "y": 2020,
        "wires": [
            [
                "e4760c967c292128"
            ]
        ]
    },
    {
        "id": "b00e4cf09b3d397f",
        "type": "comment",
        "z": "58d46b689e728ecd",
        "name": "To the Hue Lightstrip",
        "info": "",
        "x": 1370,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b0e2653bf86b69b9",
        "type": "link out",
        "z": "58d46b689e728ecd",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "2704749979eddd9a"
        ],
        "x": 1285,
        "y": 2100,
        "wires": []
    }
]
