Node-Red_Education_Lesson_9_Flow_B_Code
[
    {
        "id": "72f42d3a1cd5fb02",
        "type": "mqtt in",
        "z": "5aed8d3eba2a1bbf",
        "name": "",
        "topic": "testtopic/1",
        "qos": "0",
        "datatype": "json",
        "broker": "4d0adc15ffb8189f",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "da5600233aefa7db",
                "34ac9a311c15a890"
            ]
        ]
    },
    {
        "id": "30acc5872f54be31",
        "type": "function",
        "z": "5aed8d3eba2a1bbf",
        "name": "Extract Payload T",
        "func": "let payload = msg.payload\nlet tempc =payload.data.temperature_c;\n//Console=('temperature', tempc)\n\nmsg.payload = tempc\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "eece78b0c596931e",
                "6f98c57e0d3f7679"
            ]
        ]
    },
    {
        "id": "a3974a510cba3e8b",
        "type": "function",
        "z": "5aed8d3eba2a1bbf",
        "name": "Extract Payload H",
        "func": "let payload = msg.payload\nlet tempc =payload.data.humidity;\n//Console=('temperature', tempc)\n\nmsg.payload = tempc\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "24cb7619789d8b17"
            ]
        ]
    },
    {
        "id": "24cb7619789d8b17",
        "type": "ui_gauge",
        "z": "5aed8d3eba2a1bbf",
        "name": "",
        "group": "cb2867459c8e3cc6",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "da5600233aefa7db",
        "type": "gate",
        "z": "5aed8d3eba2a1bbf",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "30acc5872f54be31",
                "a3974a510cba3e8b"
            ]
        ]
    },
    {
        "id": "fdd94a21a0dbabf8",
        "type": "inject",
        "z": "5aed8d3eba2a1bbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "da5600233aefa7db"
            ]
        ]
    },
    {
        "id": "6f98c57e0d3f7679",
        "type": "ui_gauge",
        "z": "5aed8d3eba2a1bbf",
        "name": "",
        "group": "cb2867459c8e3cc6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "•C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "838f3c9927d00e20",
        "type": "comment",
        "z": "5aed8d3eba2a1bbf",
        "name": "Record Temp and Humidity on Gauge.  Warn if too high, reassure when temp drops",
        "info": "",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d0adc15ffb8189f",
        "type": "mqtt-broker",
        "name": "One1",
        "broker": "yb66f911.ala.us-east-1.emqxsl.com",
        "port": "8883",
        "tls": "4cd0668997bae2e1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "hellllo",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb2867459c8e3cc6",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "9ee35c5250ed1cc9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cd0668997bae2e1",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "yb66f911.ala.us-east-1.emqxsl.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9ee35c5250ed1cc9",
        "type": "ui_tab",
        "name": "Sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
